@font-face{
    font-family: "quicksand";
    src: url(../fonts/Quicksand/Quicksand-Regular.ttf);
}

@font-face{
    font-family: "amaticSc";
    src: url(../fonts/Amatic_SC/AmaticSC-Regular.ttf);
}

.nav-link{
    font-family: 'quicksand',Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-size: 1em;
    font-weight: bold;
}

#navBarLogo{
    height:40px;
    width: 40px;
}
#translation-button{
    font-size: 8px;
    font-style: italic;
    color:#d2b7b7;
    padding: 0px;
    margin:0px;
}

#container-top{
    margin: auto;   
    width: 100%;
}

#logo{
    display: block;
    height: 150px;
    margin: 0px auto 30px auto; 
}

.display-1{
    text-align: center;
    letter-spacing: 15px;
}

.blockquote-footer{
    float: right;
    font-family: 'amaticSc', Arial, Helvetica, sans-serif;
    font-size: 25px;
    letter-spacing: 2px;
    color:white;
}

.jumbotron,
.jumbotron-fluid{
    margin:auto;
    margin-top:50px;
    margin-bottom: 50px;  
    padding:15px;
    background:rgba(255, 255, 255, 0.6);  
  
}
#homepage-container{
    background: url(../images/PregantWomanPhoto.jpg); 
}

#jumbotron-home{
    padding:0px 25px 25px 25px;
}

#carousel{
    height: 100px;
}

.carousel-inner{
    width: 100%;
    height: 186px;  
}
.carousel-quotes{
    font-family: 'quicksand',Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}

/* Readings Page */

#jumbotron-readings{
    padding:0px 25px 25px 25px;
    margin:auto;
}

#readings-container{
    background: url(../images/books.jpg); 
}

#thumbnail-container{
    padding-top: 10px;
}

.thumbnail-readings{
    background:white;
    margin:10px 0px 10px 0px;
    text-align: center;
}

.img-thumbnail{
    height: 200px;
    margin-top: 10px;
    margin-bottom:10px;
    opacity:0.5;
}
.img-thumbnail:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.thumbnail-titles{
    font-family: 'quicksand',Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:#d2b7b7;
}

small{
    font-family: 'amaticSc', Arial, Helvetica, sans-serif;
   
}

/* Contact Page */

#contactForm-container{
    background: url(../images/Pivoine\ Background.jpg); 
}

#submitForm{
    color: #d2b7b7;
}

/* DB Admin Access */

#dbAdmin-container{
    margin: auto;
    margin-top:60px; 
}

thead{
    background: #d2b7b7;
}

.btn{
    background: lightgray;
    color:#d2b7b7;
}



/* Footer */

#main-footer{
    background:#d2b7b7;
    font-family: 'amaticSc', Arial, Helvetica, sans-serif;
}

#logofooter{
    padding:25px;
    display: block;
    height: 150px;
    margin: 15px auto 15px auto; 
    border:white;
    border-width: 1px;
    border-style: solid;
    border-radius: 80%;
}

#footerContactInfo,
.myInfo{
    margin:auto;
    color:white;
    text-align: center;
    letter-spacing: 5px;
    line-height: 10px;
}
.myInfo{
    font-family: 'quicksand',Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height:15px;
}

#socialMedia{
    margin:auto;
   
}

#copyright{
    /* margin: 10px auto 10px auto;  */
    text-align: center;
    color:white;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    letter-spacing: 3px;
}

#AdminBtn{
   margin-top: 20px;
}




